  <main>
   <ul class="clients">

    </ul>
  <header>
    <h1>Audiorecorder into Midi files</h1>
  </header>

  <p>Gebruikersnaam: <input type="text" value="" id="uname"></p>
  <p>Demo note on other devices: <input type="submit" value="Demo" id="demo"></p>
  <p>Soort client: <input type="submit" value="Ik ben een muziekbox (alle audio)" id="soundbox"><input type="submit" value="Ik wil enkel mijzelf horen" id="piano"></p>
  <p>Current song: <span id="currentsong"></span> <input type="submit" value="Play" id="startsong"><input type="submit" value="Stop" id="stopsong"></p>
   <p id="recordcontrols">Eigen song: <span id="currentsong"></span> <input type="submit" value="Record" id="startrecord"><input type="submit" value="Stop" id="stoprecord"></p>
   <p id="eigensongcontrol" style="display: none;">Eigen song: <span id="currentsong"></span> <input type="submit" value="Play" id="playrecord"><input type="submit" value="Nieuwe song" id="reload"></p>
  <div class="me">Jij: <span class="metaname"></span></div>
  <div class="stranger">Vriend: <span class="metaname"></span></div>
  </main>
  <div class="uitleg">
    <ul>
      <li>Piano spelen met je keyboard</li>
      <li>Live piano spelen met een vriend</li>
      <li>Username kiezen</li>
      <li>Onderscheid tussen pianisten(hoort enkel zichzelf) en soundbox(speelt alle audio af).</li>
      <li>Keys recorden</li>
      <li>Keys terug afspelen</li>
      <li>Song afspelen (naar alle clients)</li>
      <li>Piana</li>
    </ul>
  </div>
  <canvas id="canvasbg" height="450" width="450"></canvas>
{{#section 'scripts'}}
  <!-- midi package -->
  <script src="js/base64binary.js" type="text/javascript"></script>

  <script src="js/MIDI/AudioDetect.js" type="text/javascript"></script>
  <script src="js/MIDI/LoadPlugin.js" type="text/javascript"></script>
  <script src="js/MIDI/Plugin.js" type="text/javascript"></script>
  <script src="js/MIDI/Player.js" type="text/javascript"></script>

  <script src="js/Window/DOMLoader.script.js" type="text/javascript"></script>

  <!-- jasmid package -->
  <script src="js/jasmid/stream.js"></script>
  <script src="js/jasmid/midifile.js"></script>
  <script src="js/jasmid/replayer.js"></script>

  <script type="text/javascript" src="js/dat.gui.js"></script>

  <!-- other & own -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="/js/vendor/socket.io.js"></script>
  <script src="/js/script.js"></script>

{{/section}}
