<main>

</main>

{{#section 'head'}}

{{/section}}

{{#section 'scripts'}}
  <script src="/js/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
{{/section}}
