<main>
<<<<<<< HEAD

=======
  {{> welcome this}}
>>>>>>> f5efd87b2924ddff83d6c0d1c073c7eed3bd93fb
</main>

{{#section 'head'}}

{{/section}}

{{#section 'scripts'}}
<<<<<<< HEAD
  <script src="/js/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
=======

>>>>>>> f5efd87b2924ddff83d6c0d1c073c7eed3bd93fb
{{/section}}
