<main class="container">
  <header>
    <h1 class="hidden">Interactie Piano game using three.js, midi.js and WebAudioContext</h1>
  </header>
  <div class="append">

  </div>
</main>
{{#section 'scripts'}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
  <script src="/js/script.js"></script>

{{/section}}
